# Dependencies
node_modules/

# Environment variables
.env

# OS files
Thumbs.db
.DS_Store

# Uploaded files
public/uploads/*
!public/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# IDE / Editor
.vscode/
.idea/

# Build output
dist/
build/
